/* FOOTER */
footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-container {
    max-width: 600px;
    margin: auto;
}

.footer-logo {
    font-weight: bold;
    margin-bottom: 5px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
